td{
    width:100px;
    height:100px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    background-color: #bebebe;
}
td[data-val='1']{
    background-image: url('imgs/1.png');
}
td[data-val='2']{
    background-image: url('imgs/2.png');
}
td[data-val='3']{
    background-image: url('imgs/3.png');
}
td[data-val='4']{
    background-image: url('imgs/4.png');
}
td[data-val='5']{
    background-image: url('imgs/5.png');
}
td[data-val='6']{
    background-image: url('imgs/6.png');
}
.highlighted{
    box-shadow: 0 0 30px #ff0000 inset;
}
.highlighted-w{
    box-shadow: 0 0 30px #00ff00 inset;
}
table{
    margin: 0 auto;
}